@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --bg01: #00bbff;
  --bg02: #fff;
}
body {
  background-color: #000;
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: -2;
  overflow-x: hidden;
  height: 100%;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-bottom: 6rem;
  overflow-x: hidden;
  height: 100%;
}
.vong {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: -20%;
  left: -20%;
  z-index: -1;
  border: 0.1rem solid #fff;
  animation: scale 15s linear infinite;
  overflow-y: hidden;
  opacity: 0.1;
}
.vong:nth-child(2) {
  animation-delay: 1s;
}
.vong:nth-child(3) {
  animation-delay: 2s;
}
.vong:nth-child(4) {
  animation-delay: 3s;
}
.vong:nth-child(5) {
  animation-delay: 4s;
}
@keyframes scale {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
    border: 0.2rem solid #00bbff;
  }
  100% {
    transform: rotate(0);
    border: 0.1rem solid #ff0095;
  }
}
#Header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #062121;
  padding: 1rem 0;
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo .point4star {
  width: 3rem;
  height: 3rem;
  animation: star 2.5s linear infinite;
}
@keyframes star {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    transform: rotate(0);
    margin-left: 0;
  }
  50% {
    margin-left: 3rem;
    transform: rotate(360deg);
  }
  100% {
    margin-left: 0rem;
    transform: rotate(0deg);
  }
}
.header .logo .logo-text {
  color: var(--bg02);
  font-size: 1.5rem;
  text-shadow: 0 0 1rem #00bbff, 0 0 2rem #00bbff;
}
.header .links a {
  padding: 0 2rem;
  color: var(--bg02);
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}
.header .links a:hover {
  border: 0.1rem solid #fff;
  box-shadow: 0 0 1rem #00bbff, 0 0 2rem #00bbff;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
}
.header .socail {
  margin-right: 2rem;
}
.header .socail i {
  font-size: 2rem;
  color: #fff;
  padding: 0 1rem;
  border: 0.1rem solid #fff;
  padding: 0.5rem;
  border-radius: 50%;
  animation: bg 5s linear infinite;
  cursor: pointer;
}
@keyframes bg {
  0% {
    text-shadow: 0 0 1rem #ff0095;
    box-shadow: 0 0 1rem #00bbff;
  }
  50% {
    text-shadow: 0 0 2rem #ff0095;
    box-shadow: 0 0 3rem #00bbff;
  }
  100% {
    text-shadow: 0 0 3rem #ff0095;
    box-shadow: 0 0 3rem #00bbff;
  }
}
section .btn {
  color: #fff;
  font-size: 2.5rem;
  position: fixed;
  right: 0.5rem;
  z-index: 2;
  top: 5.2rem;
}
section .btn .fa-xmark {
  color: #ff0095;
  display: none;
  cursor: pointer;
}
section .btn .fa-bars {
  color: #ff0095;
  display: none;
  cursor: pointer;
}
section .mb-links {
  position: fixed;
  top: 5.2rem;
  right: 0rem;
  z-index: 1;
  width: 20rem;
  height: 100%;
  background-color: #062121;
  transition: all 0.5s ease-in-out;
  transform: translateX(20rem);
}
section .mb-links .links {
  list-style: none;
  margin-left: 1rem;
  padding: 1.5rem 0;
}
section .mb-links .links .a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10rem;
}
.container .desc {
  color: #fff;
}
.container .desc .position {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
}
.container .desc .position .span {
  font-family: "Rowdies", sans-serif;
  color: #00bbff;
}
.container .desc .position .span .fa-gear {
  color: #fff;
  font-size: 2rem;
  text-shadow: 0 0 1rem #00bbff, 0 0 2rem #00bbff;
  animation: round 2s linear infinite;
}
.container .desc .ability {
  font-size: 1.5rem;
  font-weight: 500;
  width: 70%;
}
.container .desc .check {
  color: #fff;
  font-size: 1.3rem;
  background-image: linear-gradient(45deg, #00bbff, #ff0095);
  width: 10rem;
  text-align: center;
  border-radius: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  animation: chColor 1s linear infinite;
}
.container .desc .socail1 {
  margin-top: 1rem;
  opacity: 0;
  transition: all 1s ease-in-out;
  transform: translateY(6rem);
}
.container .desc .socail1 i {
  font-size: 2rem;
  color: #fff;
  padding: 0 1rem;
  border: 0.1rem solid #fff;
  padding: 0.5rem;
  border-radius: 50%;
  text-shadow: 0 0 2rem #ff0095;
  box-shadow: 0 0 2rem #00bbff;
  cursor: pointer;
}
.container .image {
  position: relative;
  display: flex;
  width: 25rem;
  height: 26rem;
  background-color: #062121;
  border-radius: 2rem;
  border-radius: 50%;
}
.container .image::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: conic-gradient(
    from var(--angle),
    #00bbff,
    #00ff99,
    #ff0095,
    #00bbff
  );
  z-index: -1 !important;
  border-radius: 50%;
  scale: 1.056;
  animation: spin 3s linear infinite;
}
.container .image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: -2;
  transform: scale(1.1);
  animation: spin 3s linear infinite;
  background-image: conic-gradient(
    from var(--angle),
    #00bbff,
    #00ff99,
    #ff0095,
    #00bbff
  );
  transition: opacity 0.5s;
  opacity: 0.3;
  filter: blur(8rem);
  border-radius: 50%;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
.container .image .img {
  width: 10rem;
  height: 23rem;
  position: absolute;
  border-radius: 2rem;
  bottom: 2.3rem;
  left: 30%;
  scale: 1.2;
}
.study-skill {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin-top: 12rem;
  text-shadow: 0 0 1rem #00bbff;
}
.containerEdu {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  color: #fff;
  margin-top: 1rem;
}
.containerEdu .education {
  margin-top: 3rem;
  position: relative;
}
.containerEdu .skill .skill-txt,
.education .skill-txt {
  position: absolute;
  top: -1.5rem;
  left: 1rem;
  font-size: 2rem;
}
.containerEdu .education .height,
.skill .height {
  position: absolute;
  z-index: 1;
  width: 0.2rem;
  height: 27.3rem;
  background-image: linear-gradient(45deg, #00bbff, #ff0095);
  top: 1rem;
  left: -1rem;
  animation: chColor 1s linear infinite;
}
@keyframes chColor {
  0% {
    background-image: linear-gradient(45deg, #00bbff, #ff0095);
  }
  50% {
    background-image: linear-gradient(45deg, #ff0095, #00bbff);
  }
  100% {
    background-image: linear-gradient(45deg, #00bbff, #ff0095);
  }
}
.containerEdu .education .height1,
.skill .height1 {
  position: absolute;
  top: 0.8rem;
  left: -1.7rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  z-index: 2;
  animation: chColor 1s linear infinite;
}
.containerEdu .education .height1:nth-child(3) {
  position: absolute;
  top: 11rem;
  left: -1.7rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  z-index: 2;
  animation: chColor 1s linear infinite;
}
.containerEdu .education .height1:nth-child(4) {
  position: absolute;
  top: 19.5rem;
  left: -1.7rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  z-index: 2;
  animation: chColor 1s linear infinite;
}
.containerEdu .education .school {
  border: 0.1rem solid #fff;
  padding: 1rem 2rem;
  background-color: #062121;
  border-radius: 1rem;
  margin: 1rem 0;
}
.containerEdu .education .school .li {
  list-style: none;
  font-size: 1.2rem;
}
.containerEdu .education .school .li .liSp {
  color: #baae07;
  font-size: 1.2rem;
}
.containerEdu .education .school .ic {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.containerEdu .education .school .ic .icon {
  font-size: 2rem;
  color: #ff0095;
  margin-top: -0.9rem;
}
.containerEdu .education .school .ic .uni-name {
  font-size: 1.7rem;
  font-weight: 600;
  color: #00bbff;
}
.containerEdu .skill {
  margin-top: 3rem;
  position: relative;
}
.containerEdu .skill .mySkill {
  border: 0.1rem solid #fff;
  padding: 1rem 2rem;
  background-color: #062121;
  border-radius: 1rem;
  margin: 1rem 0;
}
.containerEdu .skill .mySkill .html {
  font-size: 1.3rem;
  color: #00bbff;
  font-weight: 600;
}
.containerEdu .skill .mySkill .progress-bar {
  width: 30em;
  height: 1rem;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.containerEdu .skill .mySkill .progress-bar .progress {
  width: 75%;
  height: 100%;
  background-image: linear-gradient(45deg, #00bbff, #ff0095);
  transition: width 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  animation: add1 2s linear infinite;
}
.containerEdu .skill .mySkill .p {
  font-size: 1.4rem;
  color: #fff;
}
#CSS {
  width: 65%;
  animation: add2 2s linear infinite;
}
#Javascript,
#ReactJS,
#Typescript{
  width: 55%;
  animation: add3 2s linear infinite;
}
@keyframes add1 {
  0% {
    width: 75%;
  }
  100% {
    width: 80%;
  }
}
@keyframes add2 {
  0% {
    width: 65%;
  }
  100% {
    width: 70%;
  }
}
@keyframes add3 {
  0% {
    width: 55%;
  }
  100% {
    width: 60%;
  }
}
.supperAbt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.containerAbt {
  width: 100%;
  max-width: 75rem;
  background-color: #062121;
  border-radius: 2rem;
}
.containerAbt .about {
  width: 100%;
  border: 0.1rem solid #fff;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
}
.supperAbt .containerAbt .about .imgTxt {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.supperAbt .containerAbt .about .imgTxt .parentImg {
  border: 0.1rem solid #fff;
  background-color: #062121;
  border-radius: 50%;
  box-shadow: 0 0 1rem #00bbff;
}
.supperAbt .containerAbt .about .imgTxt .parentImg .imgAbt {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}
.supperAbt .containerAbt .about .imgTxt .textAbt {
  color: #fff;
  font-size: 2rem;
  animation: chColorTxt 2s linear infinite;
}
@keyframes chColorTxt {
  0% {
    color: #fff;
  }
  50% {
    color: #ff0095;
  }
  100% {
    color: #00bbff;
  }
}
.supperAbt .containerAbt .about .caption,
.abtMr {
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  font-size: 1.3rem;
  font-weight: 400;
}
.supperAbt .containerAbt .about .abtMr {
  display: none;
}
.supperAbt .containerAbt .about .caption .spAbt,
.abtMr .spAbt {
  color: #00bbff;
  font-weight: 600;
  font-family: "Rowdies", sans-serif;
}
.supperAbt .containerAbt .about .chmoreAbt {
  cursor: pointer;
  float: right;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  background-image: linear-gradient(45deg, #00bbff, #ff0095);
  padding: 0.5rem 1rem;
  margin-top: -2.5rem;
  border-radius: 2rem;
  animation: chColor 1s linear infinite;
}
.cancel {
  display: none;
}
.scroll-item {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateY(20rem);
  filter: blur(0.5rem);
}
.ani1 {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateY(-20rem);
  filter: blur(0.5rem);
}
.scroll-item.show {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}
.ani1.show {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}
.ani-left{
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateX(-20rem);
  filter: blur(0.5rem);
}
.ani-left.show{
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}
.ani-right{
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateX(20rem);
  filter: blur(0.5rem);
}
.ani-right.show{
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}
.contaierPj{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  margin-top: 2rem;
}
.contaierPj .child-Pj{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  position: relative;
  border-radius: 1rem;
}
.contaierPj .child-Pj:nth-child(1){
  margin-right: 35rem;
  margin-top: 1rem;
}
.contaierPj .child-Pj:nth-child(2){
  margin-left: 35rem;
  margin-top: 1rem;
}
.contaierPj .child-Pj:nth-child(3){
  margin-right: 35rem;
  margin-top: 1rem;
}
.contaierPj .child-Pj::after, .child-Pj::before{
  content: '';
  position: absolute;
  top: 50%;left: 50%;
  translate: -50% -50%;
  background-image: conic-gradient(
    from var(--angle),
    #00bbff,
    #00ff99,
    #ff0095,
    #00bbff
  );
  width: 100%;height: 100%;
  animation: spin 3s linear infinite;
  border-radius: 1rem;
  padding: .5rem;
  z-index: -1;
}
.contaierPj .child-Pj::before{
  opacity: .5;
  filter: blur(1rem);
}
.contaierPj .child-Pj .number{
  position: absolute;
  top: -3rem;
  left: 2rem;
  background-image: linear-gradient(45deg,#00bbff,#ff0095);
  border-radius: 5rem;
  padding: .5rem 1.5rem;
  color: #fff;
  font-size: 1.5rem;
  z-index: 1;
  animation: chColor 1s linear infinite;
}
.contaierPj .child-Pj .imgPj{
  width: 35rem;
  height:20rem;
  padding: .5rem;
  border-radius: 1rem;
}
.contaierPj .child-Pj:hover .txtPj .txtP1{
  top: 20%;
}
.contaierPj .child-Pj .txtPj{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  width: 100%;height: 100%;
  backdrop-filter: blur(.1rem);
  border-radius: 1rem;
}
.contaierPj .child-Pj .txtPj .txtP1{
  color:#00bbff;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 30%;
  font-family: "Rowdies", sans-serif;
  font-size: 3rem;
  z-index: 2;
  transition: all .3s ease-in-out;
}
.contaierPj .child-Pj .toCheck{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 5rem;
  bottom: 2rem;
  z-index: 2;
}
.contaierPj .child-Pj:hover .toCheck .pjName{
  transform: translateY(0);
  opacity: 1;
}
.contaierPj .child-Pj:hover .toCheck .pjLink{
  transform: translateY(0);
  opacity: 1;
}
.contaierPj .child-Pj .toCheck .pjName, .pjLink{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  background-image: linear-gradient(45deg, #00bbff,#ff0095);
  padding: .5rem;
  border-radius: 2rem;
  transition: all .3s ease-in-out;
  transform: translateY(2rem);
  opacity: 0;
  animation: chColor 1s linear infinite;
}



.clock {
  position: relative;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: #062121;
  border: .1rem solid #fff;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hand {
  position: absolute;
  width: 50%;
  height: 4px;
  top: 50%;
  transform-origin: 100%;
}
.rotate-hand{
  height: .2rem;
  width: 45%;
  background-color: #00bbff;
  margin-left: -2.8rem;
  animation: deg 5s linear infinite;
}
.rotate-hand:nth-child(2){
  width: 35%;
  background-color: #ff0095;
  margin-left: -2rem;
  animation: deg 10s .5s linear infinite;
  
}
.rotate-hand:nth-child(3){
  width: 27%;
  background-color: #00ff99;
  margin-left: -1.4rem;
  animation: deg 15s 1s linear infinite;
}
@keyframes deg {
  0%{
    transform: rotate(0);
  }100%{
    transform: rotate(360deg);
  }
}
.clock-face::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  background-image:linear-gradient(45deg, #00bbff,#ff0095);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: chColor 1s linear infinite;
}
.containerFooter{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10rem;
}
.containerFooter .ftInfo{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.containerFooter .ftInfo .txt1{
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
.containerFooter .ftInfo .txt1:hover{
  color: #00bbff;
}
.containerFooter .ftinfo2 .info2{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.containerFooter .ftinfo2 {
  margin-top: 4rem;
}
.containerFooter .ftinfo2 .info2 .txt2{
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.containerFooter .ftinfo2 .letTalk{
  color: #00bbff;
  font-size: 4rem;
  font-family: "Rowdies", sans-serif;
}
.styleBr{
  width: 80%;
  height: .1rem;
  border:.2rem dotted #fff ;
  margin-left: 10rem;
  margin-top: 2rem;
}
.containerFooter2{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
  color: #fff;
}
.containerFooter2 .ftInfo3{
  display: flex;
  align-items: center;
  gap: 5rem;
}
.containerFooter2 .ftInfo3 .txt3:hover{
  color: #00bbff;
}
.containerFooter2 .ftInfo3 .txt3{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
.containerFooter2 .socail1{
  color: #fff;
}
.containerFooter2 .socail1 i{
  font-size: 2rem;
  color: #fff;
  padding: 0 2rem;
  border: 0.1rem solid #fff;
  padding: 0.5rem;
  border-radius: 50%;
  text-shadow: 0 0 2rem #ff0095;
  box-shadow: 0 0 2rem #00bbff;
  cursor: pointer;
}
.last{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 15rem;
  margin-top: 1rem;
}
.last .fa-arrow-up{
  color: #fff;
  background-image: linear-gradient(45deg,#00bbff,#ff0095);
  padding: 1rem 1rem;
  font-size: 2rem;
}
.last .ran{
  color: #00bbff;
  font-size: 3rem;
  font-family: "Rowdies";
}
.last .ftInfo4 .txt4{
  color: #fff;
  font-size: 1.3rem;
}
.make{
  text-align: center;
  background-color: #00bbff;
  color:#fff;
  font-size: 2rem;
  padding: 1rem 0;
  margin-top: 1rem;
  animation: chColorTxt 2s linear infinite;
}
@media screen and (min-width: 780px){
  
}
@media screen and (min-width: 1024px){
  
}
@media screen and (max-width: 780px) {
  html{
   font-size: 55%;
  }
  .header .links a {
    display: none;
  }
  section .btn .fa-bars {
    display: block;
  }
  .container .desc {
    text-align: center;
  }
  .container .desc .ability {
    width: auto;
    font-size: 1.7rem;
  }
  .container .desc .check {
    margin-left: 16.5rem;
  }
  .container .image {
    margin-top: 3rem;
  }
  .containerEdu .education {
    margin-left: 2rem;
  }
  .containerAbt {
    width: 100%;
    max-width: 38rem;
  }
  .containerAbt .about {
    width: 100%;
  }
  .supperAbt .containerAbt .about .caption {
    font-size: 1.5rem;
  }
  .supperAbt .containerAbt .about .abtMr{
    font-size: 1.5rem;
  }
  .contaierPj .child-Pj:nth-child(1){
    margin-right: 0rem;
  }
  .contaierPj .child-Pj:nth-child(2){
    margin-left: 0rem;
  }
  .contaierPj .child-Pj:nth-child(3){
    margin-right: 0rem;
  }
  .contaierPj .child-Pj{
    padding: .2rem;
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .styleBr{
    margin-left: 4rem;
  }
  .containerFooter2 .socail1 i{
    margin-top: 2rem;
  }
  .last{
    margin-left: 8rem;
    margin-top: 2rem;
  }
}
